* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    font-size: 18px;
}

.container {
    max-width: 440px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(130, 185, 144);
    margin-top: 50px;
    background-image: none;
}


.soat {
    margin-left: 150px;
}
.sana {
    margin-left: 350px;
}